<form  action="{{action}} " method="post" {{ form_enctype(form)}} >
	{{form_errors(form)}}
  <legend>{{legend}}</legend>
	{{form_row(form.title)}}
	{{form_row(form.content)}}
	{{form_row(form.tags)}}
	<div>
	<label class='checkbox'>
    {{ form_errors(form.featured) }}
    {{ form_widget(form.featured) }}
    {{ form_label(form.featured) }}
	</label>
	<div>
	{{form_rest(form)}}
	<button class='btn'><a href="{{path('admin.article.dashboard')}}">Cancel</a> </button>
    <input class="btn btn-info" type="submit" name="submit">
  </form>