{% extends "admin/admin-layout.twig" %}
{% block content %}
<div class="span8">
  <script type="text/javascript">
  var confirm_delete = function(title,localtion){
    console.log(title);
    var result = confirm("Delete this article : "+title+"?");
    if(result ===true){
      return true;
    }else{
      return false;
    }
  }
  </script>
  <div class="page-header">
    <h1 id="">Article Dashboard</h1>
  </div>
  <p><a href="{{path('admin.article.create')}}">Create A New article</a></p>
  <table class="table table-striped table-hover">
    <tbody>
      {% set counter = 0 %}
      <thead>
        <tr>
          <th>#</th>
          <th>ID</th>
          <th>Title</th>
          <th>Date</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      {% for article in articles %}
      <tr>
        {#@note @twig loop variable twig doc page 61 #}
        <td>{{loop.index+((current_page-1)*articles_per_pages)}}</td>
        <td title='{{article._id}}'><small>{{article._id}}</small></td>
        <td><a href="{{path('article.get',{slug: article.slug})}}">{{article.title|slice(0,200)}}</a></td>
        <td>{{article.created_at.sec|date('m/d/Y')}}</td>
        <td><a href="{{path('article.get',{'slug':article.slug})}}">View</a> </td>
        <td><a href="{{path('admin.article.edit',{'id':article._id})}}">Edit</a></td>
        <td><a onclick="javascript:confirm_delete('{{article.title}}');" href="{{path('admin.article.delete',{'id':article._id})}}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="pagination pagination-centered ">
    <ul>
      {% if current_page >1 %}
      <li><a href="{{ path('admin.article.dashboard')}}?current_page={{current_page-1}}&articles_per_pages={{articles_per_pages}}">Prev</a></li>
      {% endif %}
      <li class="active"><a href="#">{{ current_page }}</a></li>
      {% if current_page < total_pages %}
      <li><a href="{{ path('admin.article.dashboard')}}?current_page={{current_page+1}}&articles_per_pages={{articles_per_pages}}">Next</a></li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}