{% extends "layout.twig"%}
{% block content %}
<h2>{{article.title}}</h2>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
  {% set user = app['user_manager'].getUser() %}
  {% if app['article_manager'].belongsTo(article._id,user._id) %}
    <a class='btn btn-small' href="{{path('admin.article.edit',{id: article._id})}}">Edit</a>
  {% endif %}
{% endif %}
<div class="row-fluid">
  <div class="span8">
  {% autoescape false %}
    {{article.content|striptags('<a>,<b>,<u>,<small>,<strong>')}}
  {% endautoescape %}
  </div>
</div>
<hr/>
<div class='row-fluid'>
{% if article.tags %}
{% include 'article/tags/index.twig' with {tags: article.tags} only %}
{% endif %}
</div>
<hr/>
<div>{{render(path("comment.index",{'article_id': article._id}))}}</div>
<div>{{render(path("comment.create",{'article_id': article._id}))}}</div>
{% endblock %}