{% set articleUrl= path('article.get',{'slug':article.slug}) %}
<h3>
	<a style='color:#000;' href='{{ path('article.get',{'slug':article.slug})}}'>{{article.title}}</a> 
</h3>
<p class="author">
  <small>
    <i class="icon-user"></i>
    {% set username = app.user_manager.getById(article.user_id).username %}
    <a href="{{path('article.getbyusername',{username: username})}}">{{username}}</a>
    |
    <i class="icon-calendar"></i>
    {{article.created_at.sec|date('m/d/Y')}}
    |
    <i class='icon-comment'></i>
    <a href="{{articleUrl}}#comments">
      {{ app['comment_manager'].getCommentsByArticleId(article._id)|length}}
      Comments
    </a>
  </small>
</p>
{% autoescape false %}
<p>{{article.content|striptags('<a>,<b>,<u>,<small>,<strong>')|slice(0,300)}}...</p>
{% endautoescape %}
{% if article.tags is iterable %}
{% include 'article/tags/index.twig' with {tags: article.tags} only %}
{% endif %}
</p>
<p><a href='{{articleUrl}}' class="btn btn-info">Read more</a></p>
<hr>