<h3>
	<a style='color:#000;' href='{{ path('article.get',{'slug':article.slug})}}'>{{article.title}}</a> 
</h3>
<p class="author">
	<small>
		{{app.user_manager.getById(article.user_id).username}}
	</small> 
	<small>
		{{article.created_at.sec|date('m/d/Y')}}
	</small>
</p>
{% autoescape false %}
<p>{{article.content|striptags('<a>,<b>,<u>,<small>,<strong>')|slice(0,300)}}...</p>
{% endautoescape %}
{% if article.tags is iterable %}
{% include 'article/tags/index.twig' with {tags: article.tags} only %}
{% endif %}
</p>
<p><a href='{{ path('article.get',{'slug':article.slug})}}' class="btn btn-info">Read more</a></p>
<hr>