{% extends 'layout.twig' %}
{% block content %}
<div class="page-header"><h1>User profile</h1></div>
<div class="well">x
<div><img src="{{app.gravatar.getGravatar(user.email,100)|default(url('index.index')~'/img/default.gif')}}" alt="avatar" title='{{user.username}}'></div>
<adress>
<strong>{{user.username|capitalize}}</strong><br/>
{{user.firstname ~" "~user.lastname|capitalize}}<br/>
{{user.email}}<br/>
{{user.adress.country|default('')}}<br/>
</adress>
</div>
{% endblock %}