<ul class="nav pull-right">
	{% if app.user_manager.isLoggedIn() %} 
	{% set local_user = app.user_manager.getUser() %}
	<li>
		<a href='{{ path('admin.user.profile')}}' >
			Welcome back {{local_user.username|capitalize}}.
		</a>
	</li>
	<li>
		<a  href="{{path('admin_user_logout')}}">Logout</a>
	</li>
	{% else %}
	<li>
		<a  href="{{path('user.login')}}">Login</a>
	</li>
	<li>
		<a  href="{{path('user.signup')}}">SignUp</a>
	</li>
	{% endif %}
</ul>